* {
  margin: 0;
}
.pad {
  margin-top: 30px;
}
form {
  width: 700px;

}
.preview-box {
  margin-left: 20px;
}
div,
h2 {
  margin: 1px;
  padding: 1px;
  font-size: 1em;
}
form {
  font-family: Tahoma;
}
.columns {
  display: flex;
  font-size: 0.8em;
}
textarea,
input[type='text'],
input[type='number'] {
  min-height: 1.5em;
  width: 100%;
}
.sticky {
  position: fixed;
  left: -1px;
  top: -1px;
  width: 100%;
  background-color: white;
  height: 28px;
}
.print-page {
  margin: 0;
  width: 8.5in;
  height: 11in;
  page-break-after: always;
  border: solid black 1px;
}
@page {
  size: Letter portrait;
  margin: 0;
}
@media print {
  form {
    display: none;
  }
}
